
@foreach (var res in GameRound.PlayerGameRounds.Rounds)
{
    <td>
        @GameRound.CalculcateEarnings(res.Player).ToString("N2")

        @res.RoundPenaltyDescription

        <ResultTypeInput @bind-ResultType="@res.Result.ResultType"></ResultTypeInput>
    </td>
}

<td>
    @GameRound.RoundPot.Value.ToString("N2")
</td>

<td>
    @GameRound.RoundEinsatzDescription
</td>

<td>
    @if (GameRound.IsInvalidRound)
    {
        <Icon Name="IconName.ExclamationDiamond" Color="IconColor.Danger" @onclick="ShowErrorsAsync"/>
    }
</td>