@using HackerApp.Client.Areas.Shared.Models.Pgr
<InputSelect style="width: 60px;" Value="ResultType"
             ValueExpression="() => ResultType"
             ValueChanged="@((GameRoundPlayerResultType selectedValue) => ResultTypeChanged.InvokeAsync(selectedValue))">
    <option value="@GameRoundPlayerResultType.None">-</option>
    <option value="@GameRoundPlayerResultType.HackedGewonnen">Gehackt G</option>
    <option value="@GameRoundPlayerResultType.HackedVerloren">Gehackt V</option>
    <option value="@GameRoundPlayerResultType.MitgegangenGewonnen">Mit G</option>
    <option value="@GameRoundPlayerResultType.MitgegangenVerloren">Mit V</option>
</InputSelect>