@using HackerApp.Client.Shared.Modal
@using HackerApp.Client.Shared.Zoom
@attribute [Route(Path)]

<PlayerPayouts @ref="PlayerPayoutsRef"></PlayerPayouts>
<GameAnalysis @ref="GameAnalysisRef"></GameAnalysis>

@if (Game != null)
{
    <div class="container">
        <BrowserZoom></BrowserZoom>

        <div class="d-flex flex-row">
            <div>
                <Button Color="@ButtonColor.Primary" @onclick="AddNewRoundAsync">Neue Runde</Button>
                <input type="number" @bind-value="@Einsatz"/>
            </div>
            <div class="ms-auto">
                <Button Color="@ButtonColor.Primary" @onclick="ShowGameAnalysisAsync" @ref="ShotsButtonRef">Shots!</Button>
                <Button Color="@ButtonColor.Primary" @onclick="CalculatePayoutAsync">Auszahlung</Button>
                <BlazorBootstrap.Button Color="ButtonColor.Danger" @onclick="DeleteLastRoundAsync">
                    <Icon Name="IconName.Trash"/>
                </BlazorBootstrap.Button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <GameTable
                    OnPenaltyAdded="AddPlayerPenalty"
                    Game="@Game">
                </GameTable>
            </div>
        </div>
    </div>
}
else
{
    <p>loading..</p>
}

<GenericModal @ref="ModalRef"></GenericModal>